// universal
$baseFontSize: 18px;
$containerWidth: 1100px;

//colors
$black: #292929;
$gray: #666666;
$yellow: #FEDB3F;
$white: #ffffff;

// normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

// z-indexes
$z-fixed-menu: 100;

// setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import "./components/base.scss";
@import "./components/layout.scss";
@import "./components/hero.scss";
@import "./components/header.scss";
@import "./components/features.scss";
@import "./components/feature.scss";
@import "./components/btn.scss";
@import "./components/headline.scss";
@import "./components/benefits.scss";
@import "./components/benefit.scss";
@import "./components/reviews.scss";
@import "./components/interactive-avatar.scss";
@import "./components/reviews-switcher.scss";
@import "./components/form.scss";
@import "./components/radio.scss";
@import "./components/fixed-menu.scss";